<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNpIf4Zs1i2LfzLuj3mn_JaU-dzTxf49c</string>
	<key>GCM_SENDER_ID</key>
	<string>666098263353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcgozsapplication.app</string>
	<key>PROJECT_ID</key>
	<string>facetap-d4d1a</string>
	<key>STORAGE_BUCKET</key>
	<string>facetap-d4d1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666098263353:ios:e95750277922b34d03b4e8</string>
</dict>
</plist>